* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #1e1e1e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
  width: max-content;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.juegoContainer {
  display: flex;
  flex-direction: column;
  color: white;
}

.tries {
  margin: 10px;
}

.juegoContainer input {
  all: unset;
  border: 1px solid white;
  color: white;
  padding: 5px;
}

#correcto {
  color: green;
}

#pokemon {
  filter: contrast(0);
  -webkit-user-drag: none;
  user-select: none;
  transition: filter 0.6s;
}

#tabla {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row-boxes {
  display: flex;
}

.box {
  border: 2px solid gray;
  border-radius: 10px;
  margin: 2.5px;
  font-size: 2.2rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.box-rellena {
  border: 2px solid white;
  transition: all 350ms;
}

#teclado {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 90%;
}

#teclado div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.teclado-boton {
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  margin: 0 2px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

#popup {
  position: fixed;
  top: 10px;
  height: max-content;
  width: max-content;
  padding: 2rem;
  border-radius: 12px;
  order: -1;
  font-weight: 700;
  transition: all 250ms;
}

@media screen and (max-width: 500px) {
  .box {
    height: 2.2rem;
    width: 2.2rem;
    font-size: 0.8rem;
  }

  .teclado-boton {
    padding: 0.4rem;
  }
}
