* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #1e1e1e;
  color: white;
  height: 100vh;
  max-width: 100%;
}

.info {
  position: fixed;
  top: 20px;
  left: 20px;
  border: 3px solid white;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  transition: all 250ms;
}

.info:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.info h3 {
  font-size: 3rem;
  padding: 0 30px;
}

.pokeWordle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
  width: max-content;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.juegoContainer {
  display: flex;
  flex-direction: column;
  color: white;
}

.tries {
  margin: 10px;
}

.juegoContainer input {
  all: unset;
  border: 1px solid white;
  color: white;
  padding: 5px;
}

#correcto {
  color: green;
}

#pokemon {
  filter: contrast(0);
  -webkit-user-drag: none;
  user-select: none;
  transition: filter 0.6s;
}

#tabla {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row-boxes {
  display: flex;
}

.box {
  border: 2px solid gray;
  margin: 2.5px;
  font-size: 2.2rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.box-rellena {
  border: 2px solid white;
  transition: all 350ms;
}

#teclado {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(600px, 100%);
  gap: 5px;
}

#teclado div {
  /* display: flex;
  gap: 2px;
  width: 100%;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: auto;
  gap: 2px;
  width: 100%;
  justify-items: stretch;
  padding: 0 0.3rem ;
}

.second-row {
  /* margin: 0.5rem 0; */
}

/* .third-row{
  grid-template-columns: repeat(9, 1fr);
} */

#enter{
  grid-column: span 2;
}

.teclado-boton {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: white;
  transition: all 250ms ease;
}

#popup {
  position: fixed;
  top: 10px;
  height: max-content;
  width: max-content;
  max-width: 95%;
  text-align: center;
  padding: 2rem;
  border-radius: 12px;
  order: -1;
  font-weight: 700;
  transition: all 250ms;
}

#popup button {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}

footer {
  position: fixed;
  padding: 1rem;
  text-align: center;
  width: 100%;
  background-color: #0e0e0e;
  bottom: 0px;
}

footer a {
  text-decoration: none;
  color: coral;
}

footer label {
  filter: opacity(0.3);
}

#fondoNegro {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

#explicacion {
  border-radius: 10px;
  background-color: #1e1e1e;
  max-width: 70vw;
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .box {
    height: 2.2rem;
    width: 2.2rem;
    font-size: 0.8rem;
  }

  .teclado-boton {
    padding: 2vw;
  }

  footer {
    position: relative;
  }

  #explicacion {
    max-width: 95vw;
  }

  #enter{
    grid-column: span 1;
  }
}

.animacion {
  animation: flip 0.5s ease;
  border: 2px solid transparent;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.animacionPopup {
  animation: popupGoDown 250ms ease;
}

@keyframes popupGoDown {
  0% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animacionInfo {
  transform: translateX(0);
  animation: openInfo 550ms ease;
}

@keyframes openInfo {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
